<div class="col-md-6 offset-md-3">
  <div class="jumbotron">
    <h1>Editing Stock</h1>

    <%= render 'form', stock: @stock %>
  </div>
<%= link_to 'Show', @stock %> |
<%= link_to 'Back', stocks_path %>
</div>