/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
@import "bootstrap";
@import "home";
.btn {
    margin-left: 5px;
}

body {
    background: #5cdb95;
    color: #05386B;
    font-family: 'raleway', sans-serif;
    // #5cdb95;
}
.navbar {
    background-color: #5cdb95;
    color: #05386B;
    // #05386B;
    // #8EE4AF;
    // 
}

.btn-success {
    background-color: #379683;
    border: #379683;
}
.btn-info {
    background-color: #05386B;
    border: #05386B;
}
// Devise views
#deviseJumbo {
    background: #05386B;
    color: #EDF5E1;
}