// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
  background-color: #EDF5E1;
}
#headerText {
  // border: solid red;
  width: 100%;
}
.compInfo {
  display: flex;
  // border: solid red;
  justify-content: space-evenly;
}
.stockInfo {
  // border: solid red;
}

.stockImg {
  // border: solid red;
}

.navbar {
  // border: solid darkgray;
}